#corpodacalc #Corpo {
  height: 465px;
  width: 240px;
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 70px;
  left: 400px;
  border: solid black;
  justify-content: center;
  margin: auto;
}

#corpodacalc #CampoResultado {
  height: 60px;
  width: 235px;
  background-color: black;
  position: relative;
  border: 2px solid white;
}

#corpodacalc #CampoResultado #Textodocorpo {
  position: relative;
  justify-content: center;
  text-align: left;
  margin: auto;
  padding-top: 15px;
  text-align: center;
  color: white;
  font-style: normal;
  font-size: 15pt;
  font-family: sans-serif;
}
