body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

header {
  position: absolute;
  height: 10%;
  background-color: #176a84;
  width: 100%;
  border: none;
  display: flex;
}

header p {
  color: white;
  font-size: 2vw;
  font-family: cursive;
  font-weight: bold;
  margin-left: 2%;
  align-self:center;
}

.usuario {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: none;
}

.usuario p {
  position: absolute;
  font-weight: bold;
  font-family: cursive;
  color: #444242;
  font-size: 2vw;
}

#foto {
  position: absolute;
  height: 33vh;
  width: 24vw;
  top: 38%;
  border: 2px solid lightblue;
  border-radius: 10px;
}

#login {
  top: 70%;
  font-size: 3vw;
}

#nome {
  top: 78%;
  color: gray;
  font-size: 1.8vw;
}

#bio {
  position: absolute;
  top: 90%;
  color: gray;
  font-size: 1.8vw;
  font-weight: bold;
  font-family: cursive;
  width: 77%;
  text-align: center;
  word-wrap: anywhere;
}

#criado {
  top: 40%;
  left: 2%;
}

#local {
  top: 45%;
  left: 2%;
}

#seguidores {
  top: 40%;
  left: 65%;
}

#repositorios {
  top: 45%;
  left: 65%;
}

#repos_lista {
  position: absolute;
  font-weight: bold;
  font-family: cursive;
  color: #444242;
  font-size: 2vw;
  top: 50%;
  left: 67%;
}

#repos_lista li {
  font-size: 1.3vw;
  margin-top: 10px;
}

#repos_lista a {
  color: #58b9d6;
  text-decoration: none;
}
