body button {
  position: absolute;
  height: 8vh;
  width: 26vw;
  top: 50%;
  font-size: 3vw;
  color: white;
  border: 2px solid white;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  font-family: 'Geo', sans-serif;
  margin: 0 auto;
  transition: .3s;
  align-content: center;
  justify-content: center;
}

body button:hover {
  font-size: 3.5vw;
}

#stop {
  left: 49%;
  display: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#restart {
  left: 23%;
  display: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#lap {
  left: 49%;
  display: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 60%;
}

#clear_lap {
  left: 23%;
  display: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  top: 60%;
}
