body {
  background-color: white;
  position: absolute;
}

#botãoVerde {
  position: absolute;
  height: 200px;
  width: 200px;
  margin: auto;
  left: 250px;
  top: 200px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 30pt;
  cursor: pointer;
}

#botãoVermelho {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 500px;
  top: 200px;
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 50%;
  font-size: 30pt;
  cursor: pointer;
}
