#bolo {
  position: absolute;
  margin: 0 auto;
  height: 35vh;
  width: 17vw;
  top: 10%;
  left: 80%;
  background-color: rgba(234, 196, 242);
  padding: 10px;
  border: none;
  border-right: 5px solid brown;
  border-radius: 10px;
}

#cooker {
  position: absolute;
  left: 2%;
  height: 52vh;
  width: 26vw;
  top: 10%;
  animation: cookerAnimation 1s linear  infinite alternate;
}

@keyframes cookerAnimation {
  from {transform: rotate(3deg)};
  to {transform: rotate(-3deg)};
}
