.letras {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-column-gap: 1.3vw;
  grid-row-gap: 1.3vw;
  font-family: 'Chilanka', cursive;
  top: 45%;
  margin: 0 auto;
}

.letras button {
  display: flex;
  height: 9vh;
  width: 6vw;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 3vw;
  justify-content: center;
  align-items: end;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid black;
  font-family: 'Chilanka', cursive;
}

#letras_utilizadas {
  position: absolute;
  margin: 0 auto;
  color: white;
  left: 2%;
  top: 2%;
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Chilanka', cursive;
}
