.telas {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.4);
  display: none;
  justify-content: center;
}

.venceu {
  position: absolute;
  height: 50vh;
  width: 30vw;
  background-color: lightpink;
  margin: 0 auto;
  top: 13%;
  border: 10px solid rgba(189, 57, 147);
  border-radius: 20px;
  justify-content: center;
  display: none;
}

.botoes_venceu {
  display: grid;
  position: absolute;
  top: 85%;
  grid-template-columns: auto;
  grid-column-gap: 100px;
}

.venceu p {
  font-size: 3.5vw;
  color: white;
  position: absolute;
  margin: 0 auto;
  top: 5%;
  font-family: 'Mali', cursive;
}

.venceu img {
  position: absolute;
  margin: 0 auto;
  height: 29vh;
  width: 19vw;
  top: 20%;
}

.botoes_venceu button {
  background-color: rgba(189, 57, 147);
  height: 5vh;
  width: 7vw;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2vw;
  color: white;
  font-family: 'Mali', cursive;
}

/* */

.perdeu {
  position: absolute;
  height: 50vh;
  width: 30vw;
  background-color: lightpink;
  margin: 0 auto;
  top: 13%;
  border: 10px solid rgba(189, 57, 147);
  border-radius: 20px;
  justify-content: center;
  display: none;
}

.botoes_perdeu {
  display: grid;
  position: absolute;
  top: 85%;
  grid-template-columns: auto;
  grid-column-gap: 100px;
}

.perdeu p {
  font-size: 3.5vw;
  color: white;
  position: absolute;
  margin: 0 auto;
  top: 5%;
  font-family: 'Mali', cursive;
}

.perdeu img {
  position: absolute;
  margin: 0 auto;
  height: 29vh;
  width: 14vw;
  top: 23%;
}

.botoes_perdeu button {
  background-color: rgba(189, 57, 147);
  height: 5vh;
  width: 7vw;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2vw;
  color: white;
  font-family: 'Mali', cursive;
  text-align: center;
  align-self: center;
}
