#carta_1_computador {
  position: absolute;
  left: 52%;
  top: -10%;
  height: 25vh;
  width: auto;
  transform: rotate(180deg);
  cursor: pointer;
  transition-duration: .3s;
}
#carta_1_computador:hover {
  top: -5%;
}

#carta_2_computador {
  position: absolute;
  left: 67.5%;
  top: -10%;
  height: 25vh;
  width: auto;
  transform: rotate(180deg);
  cursor: pointer;
  transition-duration: .3s;
}
#carta_2_computador:hover {
  top: -5%;
}

#carta_3_computador {
  position: absolute;
  left: 83%;
  top: -10%;
  height: 25vh;
  width: auto;
  transform: rotate(180deg);
  cursor: pointer;
  transition-duration: .3s;
}

#carta_3_computador:hover {
  top: -5%;
}


#carta_1_jogador {
  position: absolute;
  left: 39%;
  top: 85%;
  height: 30vh;
  width: auto;
  cursor: pointer;
  transition-duration: .3s;
}
#carta_1_jogador:hover {
  top: 75%;
}

#carta_2_jogador {
  position: absolute;
  left: 22%;
  top: 85%;
  height: 30vh;
  width: auto;
  cursor: pointer;
  transition-duration: .3s;
}
#carta_2_jogador:hover {
  top: 75%;
}

#carta_3_jogador {
  position: absolute;
  left: 5%;
  top: 85%;
  height: 30vh;
  width: auto;
  cursor: pointer;
  transition-duration: .3s;
}
#carta_3_jogador:hover {
  top: 75%;
}
