.computador {
  position: absolute;
  margin: 0 auto;
  left: 4%;
  top: 1%
}
#img_computador {
  position: absolute;
  height: 16vh;
  width: 10vw;
  margin: 0 auto;
  z-index: 1;
}

.jogador {
  position: absolute;
  margin: 0 auto;
  left: 85%;
  top: 84%
}
#img_jogador {
  position: absolute;
  height: 14vh;
  width: 10vw;
  margin: 0 auto;
  z-index: 1;
}
