#nome_computador {
  position: absolute;
  font-size: 2vw;
  left: 16%;
  top: 7%;
  font-family: cursive;
  margin:0 auto;
  color: white;
}

#nome_jogador {
  position: absolute;
  font-size: 2vw;
  left: 71.5%;
  top: 88%;
  font-family: cursive;
  font-family: cursive;
  margin:0 auto;
  color: white;
}
