#computador_vida {
  position: absolute;
  z-index: -1;
  height: 8vh;
  width: 25vw;
  top: 9.7%;
  left: 11.5%;
}
#computador_vida_texto {
  position: absolute;
  font-size: 4.5vw;
  color: yellow;
  text-shadow: 2px 2px 2px black;
  top: 10%;
  left: 19%;
  margin: 0 auto;
  font-style: italic;
}

#jogador_vida {
  position: absolute;
  z-index: -1;
  height: 8vh;
  width: 25vw;
  top: 90.5%;
  left:66.9%;
}
#jogador_vida_texto {
  position: absolute;
  font-size: 4.5vw;
  color: yellow;
  text-shadow: 2px 2px 2px black;
  top: 90.7%;
  left:67.5%;
  margin: 0 auto;
  font-style: italic;
}
