#carta_zoom_computador {
  position: absolute;
  background-image: url("../img/costas-cartas.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 45vh;
  width: 30vw;
  top: 27%;
  left: 8%;
  transition: 1s;
}

#carta_zoom_jogador {
  position: absolute;
  background-image: url("../img/costas-cartas.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 45vh;
  width: 30vw;
  top: 27%;
  left: 73%;
  transition: 1s;
}
