* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 5vw;
  width: 100%;
  background-color: #b33131;
  display: flex;
}

header p {
  font-size: 3.5vw;
  font-weight: bold;
  color: white;
  margin-left: 2%;
  align-self: center;
}
